.note {
  color: #000000;
  background-color: #fff4a3;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10%;
}

.button1 {
  background-color: rgba(206, 113, 60, 0.637); 
  color: rgb(255, 255, 255); 
  border: 2px solid #ffffffb7;
}

.button1:hover {
  background-color: #2abd2f8e;
  color: rgb(255, 255, 255);
}

body {
    background-color: #282828;
    color: rgba(255, 255, 255, 0.527);
}

h1 {
    color: #ff5100;
}

h2 {
    /* color: rgba(250, 212, 0, 0.808); */
    color: tomato;
}

h3 {
    color: #51cf51d3;
}

p {
    display: block;
    
}

s {
    color: #cbe43e;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #2b8310;
}

r {
    color: #ee6833af;
    text-decoration: none;
    background-color: #333333;
}

ax {
    color: #9a9c2a;
}

az {
    color: rgb(245, 132, 57)
}

ar {
  color: #c9c9c99d;
}

iframe {
    width: 98%;
    border-radius: 10px;
}

table,
th,
td {
    border: 1px solid rgba(139, 127, 127, 0.308);
    border-radius: 3px;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }

main {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 10px ;
    background-color: #ffffff2a;
    color: #bdbdbd;
    width: 99%;
    border-radius: 10px;
    
}

main > h1, .browser {
  margin: 30px;
  padding: 10px;
}

.browser {
  background: rgba(255, 255, 255, 0.267);
}

.browser > h2{
  margin: 4px;
  font-size: 90%;
}

th, td {
  padding: 10px;
}

div {
  background-color: #b9d32885;
  color: white;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: solid #ffffff59;
}

article {
  background-color: #d3393910;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: solid #5c59598e;
  padding-bottom: 10px;
  margin-right: 3%;
}

.ws-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

.error {
  color: #FF0000;
}

hr {
  margin-top: 15px;
}

b {
  color: #ff9204d5;
  font-size: x-large;
}

menu {
  -webkit-text-fill-color: #111111;
  -webkit-text-stroke-color: #ff0000;
}