body {
    background-color: #282828;
    color: rgba(255, 255, 255, 0.527);
}

h1 {
    color: #ff5100;
}

h2 {
    /* color: rgba(250, 212, 0, 0.808); */
    color: tomato;
}

h3 {
    color: #51cf51d3;
}

p {
    display: block;
    
}

s {
    color: #b9d328;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #99D7A7;
}

r {
    color: #ff7b009a;
    text-decoration: none;
}

ax {
    color: #9a9c2a;
}

az {
    color: tomato
}

iframe {
    width: 98%;
    border-radius: 10px;
}

table,
th,
td {
    border: 1px solid rgba(139, 127, 127, 0.308);
    border-radius: 3px;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }

main {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 10px ;
    background-color: #ffffff2a;
    color: #bdbdbd;
    width: 99%;
    border-radius: 10px;
    
}

main > h1, .browser {
  margin: 30px;
  padding: 10px;
}

.browser {
  background: rgba(255, 255, 255, 0.267);
}

.browser > h2{
  margin: 4px;
  font-size: 90%;
}

th, td {
  padding: 10px;
}

div {
  background-color: #b9d32885;
  color: white;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: solid #ffffff59;
}

article {
  background-color: #ffffff3b;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: solid #5c59598e;
  padding-bottom: 10px;
}

.ws-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

.error {
  color: #FF0000;
}

hr {
  margin-top: 15px;
}

b {
  color: #ff9204d5;
  font-size: x-large;
}

menu {
  -webkit-text-fill-color: #111111;
  -webkit-text-stroke-color: #ff0000;
}